---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/enterprises/test-enterprise/organizations/test_organization/users
    method: GET
  response:
    body: '{"error":false,"users":[{"type":"User","name":"naoto-fukuda-test","icon_url":"dummy_icon_url","url":"https://deploygate.com/users/naoto-fukuda-test@test-enterprise"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    status: 200 OK
    code: 200
    duration: ""
