---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/enterprises/test-enterprise/users
    method: GET
  response:
    body: '{"error":false,"users":[{"type":"User","name":"naoto-fukuda-test","icon_url":"dummy_icon_url","url":"https://deploygate.com/users/naoto-fukuda-test@test-enterprise","full_name":null,"email":"dummy.email+test@dummy.email","role":"General","created_at":null,"last_access_at":"2022-05-29T17:29:08.000+09:00"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
    status: 201 Created
    code: 201
    duration: ""
