---
version: 1
interactions:
- request:
    body: name=test_organization&description=test_description
    form:
      description:
      - test_description
      name:
      - test_organization
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/organizations
    method: POST
  response:
    body: '{"error":false,"organization":{"type":"Organization","name":"test_organization","description":"test_description","url":"https://deploygate.com/organizations/test_organization"}}'
    headers: {}
    status: 201 Created
    code: 201
    duration: ""
