---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/organizations/test_organization
    method: GET
  response:
    body: '{"error":false,"organization":{"type":"Organization","name":"test_organization","description":"test_description","url":"https://deploygate.com/organizations/test_organization","teams":[{"name":"オーナー","role":"owner","member_count":1},{"name":"テスター","role":"tester","member_count":0}],"applications":[],"members":[{"type":"User","name":"f-naoto832","icon_url":"https://secure.gravatar.com/avatar/0bdb6ba4c9e2ae5525ecf4399f2f04de?s=218\u0026d=mm","url":"https://deploygate.com/users/f-naoto832"}]}}'
    headers: {}
    status: 200 OK
    code: 200
    duration: ""
