---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/organizations/test_organization/teams/test_team/users
    method: GET
  response:
    body: '{"error":false,"users":[{"type":"User","name":"f-naoto832","icon_url":"https://secure.gravatar.com/avatar/0bdb6ba4c9e2ae5525ecf4399f2f04de?s=218\u0026d=mm","url":"https://deploygate.com/users/f-naoto832"}]}'
    headers: {}
    status: 200 OK
    code: 200
    duration: ""
