---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/organizations
    method: GET
  response:
    body: '{"error":false,"organizations":[{"type":"Organization","name":"test_organization","description":null,"url":"https://deploygate.com/organizations/test_organization"},{"type":"Organization","name":"test_organization_2","description":null,"url":"https://deploygate.com/organizations/test_organization_2"}]}'
    headers: {}
    status: 200 OK
    code: 200
    duration: ""
