---
version: 1
interactions:
- request:
    body: description=test_new_description
    form:
      description:
      - test_new_description
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/organizations/test_organization
    method: PATCH
  response:
    body: '{"error":false,"organization":{"type":"Organization","name":"test_organization","description":"test_new_description","url":"https://deploygate.com/organizations/test_organization"}}'
    headers: {}
    status: 200 OK
    code: 200
    duration: ""
