---
version: 1
interactions:
- request:
    body: description=test_new_description
    form:
      description:
      - test_new_description
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/organizations/test_organization
    method: PATCH
  response:
    body: '{"error":false,"organization":{"type":"Organization","name":"test_organization","description":"test_new_description","url":"https://deploygate.com/organizations/test_organization"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6c4c4c72abf785def4b0a0d9fbc91911"
      Location:
      - /organizations/test_organization
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
