---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/users/f-naoto832/platforms/android/apps/com.deploygate.sample/members
    method: GET
  response:
    body: '{"error":false,"results":{"usage":{"used":0,"max":1002},"users":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"800ee2953b088af551987eeccd4076f4"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
