---
version: 1
interactions:
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/organizations/test_organization/platforms/android/apps/com.deploygate.sample/teams?token=user_api_token
    method: GET
  response:
    body: '{"error":false,"teams":[{"name":"オーナー","role":"owner","member_count":2}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7e951e457f0cf268bb6dddc687890538"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
