---
version: 1
interactions:
- request:
    body: users=naoto-fukuda-test&role=2
    form:
      role:
      - "2"
      users:
      - naoto-fukuda-test
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    url: https://deploygate.com/api/users/f-naoto832/platforms/android/apps/com.deploygate.sample/members?token=api_token
    method: POST
  response:
    body: '{"error":false,"results":{"invite":"member invite success","added":[{"name":"naoto-fukuda-test","role":2}],"invited":[]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"0156a9477eaba417fcdfd1114fb41379"
      Status:
      - 200 OK
    status: 200 OK
    code: 200
    duration: ""
